doctype 5
html

    head
        title Adapt Plugins - Starred
    body
        #wrapper
            h1 Adapt Plugins - Starred
            #content
                for plugin, i in plugins
                    div.plugins
                        a(href='/'+plugin.name) - #{plugin.name}