body{margin:0;padding:0}
.loading{position:fixed;width:100%;height:100%;top:0;left:0;color:#fff;background-color:#242424;text-align:center;padding-top:45%}

.plugin{position:relative;float:left;width:40%;margin:5%}
.plugin-inner{position:relative;padding:20px;background-color:#53bbb4;text-align:center;color:#fff;border-radius:20px}
.plugin-type-icon{position:absolute;width:100px;height:100px;right:50%;margin-right:-50px;border:2px solid #fff;border-radius:50px}
.plugin-name{font-size:25px;font-weight:bold;padding:10px}
.plugin-description{font-size:15px;padding:10px}
