.global-filters{background-color:#ccd1d925;padding:5px 0 6px;width:100%}@media all and (max-width:630px){.global-filters{padding:10px 0 20px 0;max-width:630px}}
.global-filters-inner{width:100%;margin:auto;max-width:998px;text-align:center}@media all and (max-width:630px){.global-filters-inner{padding-top:10px}}
.global-filter-container{text-decoration:none;display:inline-block;width:18%}@media all and (max-width:630px){.global-filter-container{width:95%}}
@media all and (max-width:630px){.global-filter-container-inner{width:95%;height:25px;border-radius:10px;background-color:#AAB2BD;margin:0 0 10px 10px;position:relative}.global-filter-container-inner:hover{cursor:pointer;background-color:#0088CC}}
.global-filter-icon{width:24px;height:24px;top:50%;margin-top:-12px}
.global-filter-title{background-color:transparent;color:#1f1f1f;font-size:0.9em;text-decoration:none;line-height:20px;letter-spacing:0.001em}@media all and (min-width:630px){.global-filter-title:hover{cursor:pointer;color:#0088CC}}@media all and (max-width:630px){.global-filter-title{color:#fff}}
input{outline:none}input:hover{cursor:pointer}
@media all and (max-width:630px){input{width:95%;left:0;height:25px;border-radius:12px}}

@font-face{font-family:'icomoon';src:url('fonts/vanilla.eot?-hb9b98');src:url('fonts/vanilla.eot?#iefix-hb9b98') format('embedded-opentype'),url('fonts/vanilla.woff?-hb9b98') format('woff'),url('fonts/vanilla.ttf?-hb9b98') format('truetype'),url('fonts/vanilla.svg?-hb9b98#icomoon') format('svg');font-weight:normal;font-style:normal}[class^="icon-"],[class*=" icon-"]{font-family:'icomoon';speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.icon-uniE600:before{content:"\e600"}
.icon-paint-format:before{content:"\e604"}
.icon-file:before{content:"\e602"}
.icon-map:before{content:"\e605"}
.icon-user:before{content:"\e606"}
.icon-cogs:before{content:"\e607"}
.icon-cog:before{content:"\e608"}
.icon-lightning:before{content:"\e60d"}
.icon-powercord:before{content:"\e609"}
.icon-tree:before{content:"\e60a"}
.icon-download:before{content:"\e60b"}
.icon-download2:before{content:"\e60c"}
.icon-eye:before{content:"\e60e"}
.icon-eye-blocked:before{content:"\e60f"}
.icon-star:before{content:"\e610"}
.icon-star2:before{content:"\e611"}
.icon-checkmark:before{content:"\e617"}
.icon-checkmark2:before{content:"\e618"}
.icon-minus:before{content:"\e619"}
.icon-plus:before{content:"\e61a"}
.icon-arrow-right:before{content:"\e601"}
.icon-arrow-left:before{content:"\e603"}
.icon-share:before{content:"\e612"}
.icon-github:before{content:"\e613"}

body{margin:0;padding:0;background-color:#CCD1D9;font-family:'Raleway',verdana,arial,sans-serif;letter-spacing:0.001em}
.loading{position:fixed;width:100%;height:100%;top:0;left:0;color:#fff;background-color:#242424;text-align:center;padding-top:45%;display:none!important}
.navigation{background:url('../images/top-nav-fade.gif') scroll repeat-x 0 0 #fff;padding:2px 0 3px}
.navigation-inner{top:0;width:100%;margin:auto;max-width:998px}.navigation-inner a{text-align:left;background-color:transparent;text-decoration:none;color:#1f1f1f;font-size:0.9em;line-height:20px;letter-spacing:0.001em;padding:0 0.5%}@media all and (max-width:760px){.navigation-inner a{font-size:0.7em}}@media all and (max-width:520px){.navigation-inner a{font-size:0.5em;padding:0 4px 0 4px}}.navigation-inner a:hover{text-decoration:underline}
.nav-adapt-logo{padding-left:5px}
.page-header-banner{background-image:url('../images/adapt-header-1600.jpg');background-repeat:no-repeat;background-position:center;height:300px;padding-left:10px;padding-right:10px;overflow:hidden}
.page-header-banner-inner{display:block;max-width:998px;margin:0 auto;padding:0 10px 0 10px}@media all and (max-width:520px){.page-header-banner-inner{max-width:90%}}
.banner-adapt-logo{position:absolute}@media all and (max-width:900px){.banner-adapt-logo{width:150px}}@media all and (max-width:760px){.banner-adapt-logo{left:50%;margin-left:-75px}}
.adapt-title,.adapt-body{color:#fff;width:100%;display:inline-block;font-weight:normal;font-size:2.7em;line-height:1.5em;text-align:center;padding-top:60px}@media all and (max-width:900px){.adapt-title,.adapt-body{font-size:2.2em}}@media all and (max-width:760px){.adapt-title,.adapt-body{padding-top:120px;font-size:1.7em}}
h1.adapt-title span{background:url('../images/text-fade-bg.png') repeat-x scroll 0 0 transparent;padding:0 0.3em 0.2em}
.adapt-body{color:#1f1f1f;font-size:0.9em;background-color:#fff;opacity:0.8;padding:0 0.3em 0.2em;display:block;top:250px}

.plugins{position:relative;max-width:998px;margin:0 auto}
.plugin{position:relative;float:left;margin-top:10px;width:33%}@media all and (max-width:760px){.plugin{width:50%}}@media all and (max-width:520px){.plugin{width:100%;margin-top:0}}.plugin:hover .plugin-type-icon{font-size:44px;margin-top:-22px;margin-left:-22px}
.plugin:hover .plugin-type-tab{background-color:#046}
.plugin-inner{position:relative;margin:10px;height:316px}
.plugin-type-tab{position:relative;transition:background-color .8s ease;background-color:#0088CC;height:94px;border-radius:20px 20px 0 0}
.plugin-body-holder{height:222px;position:relative;background-color:#fff;color:#fff;border-radius:0 0 20px 20px}
.plugin-type{border:2px solid #fff;width:70px;height:70px;background-color:transparent;border-radius:50px;position:absolute;left:50%;margin-left:-37px;top:10px}
.plugin-type-icon{position:absolute;font-size:34px;color:white;top:50%;left:50%;margin-top:-17px;margin-left:-17px}
.plugin-name{font-size:18px;padding:20px 10px 10px 10px;color:#434A54;text-align:center}
.plugin-description{font-size:12px;padding:10px 30px 80px 30px;color:#656D78;text-align:center}
.plugin-hits,.plugin-stars{position:absolute;font-size:18px;color:#fff;top:20px;left:20px}
.plugin-stars{top:50px;left:20px}
.git-hub-author{position:absolute;color:#434A54;font-size:12px;bottom:25px;left:20px}
.git-hub-link{right:20px;bottom:20px;position:absolute;color:#434A54;font-size:12px;padding:5px;border:1px solid #000}.git-hub-link:hover{cursor:pointer}

.type-filters{background-color:#F6F6F6;padding-bottom:25px}
.plugin-type-filters{overflow:hidden;background-color:#F6F6F6}
.plugin-type-filters-inner{height:110px;max-width:1024px;margin:0 auto}@media all and (max-width:520px){.plugin-type-filters-inner{margin-left:10px}}
.filter-type-container{position:relative;float:left;width:20%;text-decoration:none;text-align:center}.filter-type-container .all{transition:background-color .8s ease;background-color:#0088CC}
.filter-type-container .theme{transition:background-color .8s ease;background-color:#FC6E51}
.filter-type-container .extension{transition:background-color .8s ease;background-color:#AC92EC}
.filter-type-container .component{transition:background-color .8s ease;background-color:#FFCE54}
.filter-type-container .menu{transition:background-color .8s ease;background-color:#48CFAD}
.filter-type-container:hover{cursor:pointer}.filter-type-container:hover .filter-type-icon{font-size:44px;margin-top:-22px;margin-left:-22px}
.filter-type-container:hover .all{background-color:#046}
.filter-type-container:hover .theme{background-color:#e32a04}
.filter-type-container:hover .extension{background-color:#6a3bdd}
.filter-type-container:hover .component{background-color:#eda900}
.filter-type-container:hover .menu{background-color:#258c72}
.filter-type-container:selected .all{background-color:#023}
.filter-type-container:selected .theme{background-color:#b12103}
.filter-type-container:selected .extension{background-color:#6a3bdd}
.filter-type-container:selected .component{background-color:#eda900}
.filter-type-container:selected .menu{background-color:#258c72}
.filter-type-container-inner{height:70px;padding:20px 20px 10px 20px}@media all and (max-width:520px){.filter-type-container-inner{padding-bottom:0}}
.filter-type{width:70px;height:70px;background-color:#fff;border-radius:50px;position:absolute;left:50%;margin-left:-35px}@media all and (max-width:520px){.filter-type{margin:0 10px;height:60px;width:60px;margin-left:-35px}}
.filter-type-icon{position:absolute;height:34px;width:34px;top:50%;left:50%;margin-top:-17px;margin-left:-17px;color:#fff;font-size:34px}
.filter-type-title{transition:color 0.8s ease;color:#999;padding-bottom:20px;position:relative}@media all and (max-width:520px){.filter-type-title{font-size:10px}}
.toggle-filters{position:relative;padding-top:20px}
.hide-filters,.show-filters{display:block;margin-left:30px;color:#656D78;font-size:0.9em}.hide-filters:hover,.show-filters:hover{cursor:pointer}
@media all and (min-width:631px){.hide-filters,.show-filters{display:none;padding:20px}}
.display-none{display:none}
