<div class="global-filters-inner">
	<a class="global-filter-container" href="#">
		<div class="global-filter-container-inner">
			<span class="global-filter-title icon-powercord"> Plugins</span>
		</div>
	</a>

    <a class="global-filter-container" href="#/most-used">
		<div class="global-filter-container-inner">
			<span class="global-filter-title icon-download3"> Most used</span>
		</div>
	</a>

    <a class="global-filter-container" href="#/most-starred">
		<div class="global-filter-container-inner">
			<span class="global-filter-title icon-star3"> Most starred</span>
		</div>
	</a>

    <a class="global-filter-container" href="#/most-watched">
    	<div class="global-filter-container-inner">
			<span class="global-filter-title icon-eye"> Most watched</span>
		</div>
	</a>
	
	<a class="global-filter-container">
		<input type="search" name"search_plugins" placeholder="Search" class="global-filter-search">
	</a>
</div>