<div class="plugin-type-filters-inner">
	<a class="filter-type-container all" href="#">
		<div class="filter-type-container-inner">
			<div class="filter-type all">
				<div class="filter-type-icon icon-powercord"></div>
			</div>
		</div>
		<span class="filter-type-title">All</span>	
	</a>

    <a class="filter-type-container theme" href="#">
    	<div class="filter-type-container-inner">
			<div class="filter-type theme">
				<div class="filter-type-icon icon-paint-format"></div>
			</div>
		</div>
		<span class="filter-type-title">Theme</span>
	</a>

    <a class="filter-type-container extension" href="#">
    	<div class="filter-type-container-inner">
			<div class="filter-type extension">
				<div class="filter-type-icon icon-tree"></div>
			</div>
		</div>
		<span class="filter-type-title">Extension</span>
	</a>

    <a class="filter-type-container component" href="#">
    	<div class="filter-type-container-inner">
			<div class="filter-type component">
				<div class="filter-type-icon icon-cogs"></div>
			</div>
		</div>
		<span class="filter-type-title">Component</span>
	</a>

    <a class="filter-type-container menu" href="#">
    	<div class="filter-type-container-inner">
			<div class="filter-type menu">
				<div class="filter-type-icon icon-file"></div>
			</div>
		</div>
		<span class="filter-type-title">Menu</span>
	</a>
</div>